.field1 {
	--dd-width: 250px;
	--dd-font-size: 15px;
	--dd-border-radius: 16px;
	--dd-input-height: 42px;
}

.field2 {
	--dd-width: 200px;
	--dd-font-size: 12px;
	--dd-border-radius: 8px;
	--dd-input-height: 35px;
}

.field3 {
	--dd-width: 200px;
	--dd-font-size: 14px;
	--dd-border-radius: 10px;
	--dd-input-height: 36px;
}

.time-field {
	--dd-width: 135px;
	--dd-font-size: 15px;
	--dd-border-radius: 8px;
	--dd-input-height: 36px;
}

.time-field .inputarrow .arrow {
	background-image: unset;
	border-width: 0;
}
